.homeCanvas {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-width: 100%;
    filter: blur(10px);
    position: absolute;
  }
  
  .homeCanvasContainer {
    background-color: rgba(0, 0, 0, 0.048);
    width: 100%;
    z-index: 2;
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
  }
  
  .homeCanvasContainer > h1 {
    filter: drop-shadow(0 0 2px rgb(28, 116, 216));
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: white;
    padding: 2vmax;
    transform: translate(0%, -50%);
    text-align: center;
    font: 700 4vmax "Josefin Sans", sans-serif;
  }
  .homeCanvasContainer > h1 > p {
    transition: all 0.5s;
    color: rgb(36, 36, 36);
  }
  .homeCanvasContainer > h1 > p:hover {
    transform: translateY(-10px);
  }
  
  .homeCanvasBox {
    position: absolute;
    top: 50%;
    right: 0%;
    text-align: right;
    transform: translate(0%, -50%);
  }
  
  .homeCanvasBox > h2 {
    font: 800 3rem "Ubuntu Mono", "Roboto";
    letter-spacing: 20px;
    line-height: 110px;
    color: white;
  }
  .homeCanvasContainer > a {
    background-color: white;
    transition: all 0.5s;
    color: rgb(0, 0, 0);
    font: 700 1rem "Ubuntu Mono", "Roboto";
    text-decoration: none;
    padding: 2vmax 6vmax;
    box-sizing: border-box;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .homeCanvasContainer > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
  }
  
  .homeScrollBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    border-radius: 100%;
    transform: translateY(-150%);
    padding: 0.5vmax;
    animation: scrollPop 0.5s ease-in infinite alternate;
  }
  .homeScrollBtn > svg {
    font-size: 3vmax;
    color: rgb(255, 255, 255);
  }
  
  .homeContainer {
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;
  }
.homeContent >h3 {
    text-align: center;
    padding: 4vmax;
    color: rgba(22, 20, 20, 0.904);
}

.homeContent{
    position: relative;
    z-index: 1;
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px ;
    border-bottom: 200px solid white;
}

.homeSkills{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    perspective: 450px;
    height: 1500px;
    position: relative;
    box-sizing: border-box;
    padding: 200px;
    margin-bottom: -200px;
    transform: translateY(-200px);
    background-color: hsl(219, 48%, 8%);
}

.homeSkills > h4{
    font-size: 4vmax;
    color: white;
    text-align: center;
    margin-bottom: 4vmax;
}

.homeCubeSkills{
    width: 200px;
    height: 200px;
    animation: cubeRotation 15s linear infinite alternate;
    transform-style: preserve-3d;
}

.homeCubeSkillsFaces{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: inherit;
    height: inherit;
    opacity: 0.7;
}

.homeCubeSkillsFaces > img{
    width: inherit;
    height: inherit;
}

.homeCubeSkillsFaces1{
    transform:  translate3d(0, 0 , 150px);
}
.homeCubeSkillsFaces2{
    transform: rotateY(180deg) translate3d(0, 0 , 150px);
}
.homeCubeSkillsFaces3{
    transform: rotateY(-90deg) translate3d(0, 0 , 150px);
}
.homeCubeSkillsFaces4{
    transform: rotateY(90deg) translate3d(0, 0 , 150px);
}
.homeCubeSkillsFaces5{
    transform: rotateX(90deg) translate3d(0, 0 , 150px);
}
.homeCubeSkillsFaces6{
    transform: rotateX(-90deg) translate3d(0, 0 , 150px);
}

@keyframes cubeRotation{
    to{
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}

.shadowCube{
    height: 40px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.171);
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
}

.skillsBox{
    background-color: hsl(250, 100%, 75%);
    padding: 0 2vmax;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: -300px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.skillsBox > svg{
    font-size: 5vmax;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    margin: 10px;
}

.skillsBox > svg:hover{
    transform: scale(1.5);
}


.homeYoutube {
    background-color: white;
    padding-top: 2vmax;
    transform: translateY(-200px);
    border-radius: 20% 20% 0 0;
    position: relative;
    margin-bottom: -200px;
    box-sizing: border-box;
    min-height: 1000px;
    
  }
  
  .homeYoutube > h3 {
    text-align: center;
    color: rgba(22, 20, 20, 0.904);
    padding: 4vmax;
  }
  
  .homeYoutubeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vmax;
    width: 80%;
    margin: auto;
    max-height: 70%;
    
  }

@keyframes cubeShadow{
    to{
        transform: scale(1.2) translateY(-10px);
    }
}

@keyframes homeSkillsON{
    from{
        right: -300px;

    }
    to{
        right: 40px;
    }
}

@keyframes homeSkillsOff{
    from{
        right: 40px;
    }
    to{
        right: -300px;
    }
}

@keyframes scrollPop {
    to {
      transform: translateY(-200%);
    }
  }